{% extends 'index.html' body%}

{% block body %}

<div class="container" id="myrow">
    <div class="row">
        <pre>
            Welcome to image processing Web App with Machine Learning Model in Flask & Deploy in python Anywhere
                Process
                - SKimage
                - Data Pre-processing 
                - Feature Extraction
                - Machine Learning Model 
                - Pipeline model 
                - Flask App 
                - Deploy in Python Anywhere 
        </pre>
    </div>
</div>

<style>
    #myrow{
        background-color:#EAECEE;
    }
</style>

{% endblock  %}
